//colors

$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

//spacing

$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;

// desktop break point
$desktop-breakpoint: 450px;
